body{
  background-color: #F8FAFC;
}

.outer-container {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-top: 52px;
  margin-right: 200px;
 
}

@media screen and (max-width: 768px) {
  .outer-container {
    margin-left: 20px;
    margin-top: 52px;
    margin-right: 20px;
  }
}


.pref-title {
  font-family: 'Inter';
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.08em;
  text-align: left;
  color: #101729;
}

.email {
  font-family: 'SF Pro';
  font-size: 21px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #64748B;
}

.flexColumnImportant {
  display: flex;
  flex-direction: column !important;
}

@media (max-width: 768px) {
  .flexColumnImportant {
    padding-right: 3vw;
    width: auto;
  }
}

@media (max-width: 480px) {
  .flexColumnImportant {
    padding-right: 2vw;
    width: auto;
  }
}

.divider {
  width: 1058px;
  height: 30px;
  margin-top: 48px;
  margin-left: 200px;
  margin-bottom: 40px;
  border-top: 1px solid rgba(100, 116, 139, 0.3);
  opacity: 30%;
  transform: rotate(0deg);
}


.sign-out {
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.08em;
  text-align: left;
  color: #64748B;
}

.your-account {
  color: #64748B;
  margin-left: 200px;
  margin-top: 0px;
}


@media (max-width: 600px) {
  .parentStyle {
    flex-direction: column;
  }
}


.buttonDialog {
  display: flex;
  justify-content: start;
  align-items: center;
  color: black;
  background-color: white;
  border-radius: 12px;
  padding: 10px 20px;
}









